div
      {
       
        height: 300px;
        width: 300px;
        border: 2px solid rgb(143, 4, 4);
        border-radius: 10px;
        margin: auto auto;
        background-color: white);

       }


       h1

       {
         color: azure;
         background-color: rgb(143, 4, 4);
         text-align: center;
         padding-top: 8px;
         padding-bottom: 8px;
         margin-top: auto;
         font-size: 25px;
         font-family: arial;

       }

    p
       {
        font-family: monospace;
        font-size: 15px;
        text-align: center;
        margin: 100px auto;


       }