/* fonts style */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    background-color: antiquewhite;
}


.section1{

    background-color: white;
    width: 870px;
    justify-content: center;
    align-items: center;
}


.section0{
    display: flex;
    justify-content: center;
}
.div0{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;

}

.div0 img{
    width: 56px;
    height: 56px;

}


.pyaler-title{
    padding-left: 30px;
}
.player{
    display: flex;
    align-items: center;
    padding: 30px 30px 30px 30px;
}

.div0 h3{
    padding-left: 16px;
}