/* fonts style */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    background-color: antiquewhite;
}


.section1{

    background-color: white;
    width: 870px;
    height: 1000px;
    justify-content: center;
    align-items: center;
}


.section0{
    display: flex;
    justify-content: center;
}
.div0{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;

}

.div0 img{
    width: 56px;
    height: 56px;

}


.pyaler-title{
    padding-left: 30px;
    color: blueviolet;
}
.player{
    display: flex;
    align-items: center;
    padding: 30px 30px 30px 30px;
}

.div0 h3{
    padding-left: 16px;
}

.section0 hr{
    border: 1px solid black;
}






.topblog{
    color: blueviolet;
}

.blogs img{
    width: 117px;
    padding-left: 30px;
    
}
.blogs{
    display: flex;
    padding: 20px;
}

.blogs h3{
    margin-top: 0px;
    font-size: 15px;
    margin-bottom: 0px;
    padding-left: 20px;
}
.blogs h4{
    font-size: 15px;
    margin-top: 0px;
    padding-left: 20px;
    font-weight: 500;
}
.blogs img22{
    padding-left: 40px;
}