@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Sofia+Sans+Condensed:wght@300&display=swap');

body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
    background-color: rgb(196, 245, 245);
 }






/*  Nav bar starting */ 



nav h3{
    margin-left: 40px;
    margin-top: 20px;
    font-weight: 700;
    font-size: 30px;
    color:  orangered;
}

.div1{
    background-color: #eef3f8;
}
.div1 nav{
    display: flex;
}
nav ul li a{
    text-decoration: none;
    
}
nav ul li{
    list-style: none;
    margin-left: 30px;
    font-weight: 700;
}
nav ul{
    display: flex;
    margin-top: 35px;
    margin-left: 250px;
     
}

#searchbar{
    height: 30px;
    margin-top: 30px;
    margin-left: 40px;
}
#searchbutton{
    height: 35px;
    margin-top: 30px;
    margin-left: 10px;
}
nav img{

    height: 30px;
    margin-top: 32px;
    
}
#shopingicon{
    margin-left: 150px;
}
#usericon{
    margin-left:30px ;
}






/*  Navbar ending */



.headline{
    font-size: 700;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Sofia Sans Condensed', sans-serif;
    
}

.div2{
    display: flex;
    
}
.div3{
    width: 600px;
    margin-left: 140px;
    margin-top: 140px;
}

.div3 h1{
    margin-top:0px ;
    font-size: 50px;
    margin-bottom: 0px;
}
.div3 h2{
    margin-top:0px ;
    font-size: 50px;
    
}
.mainwrite{
    letter-spacing: 2px;
    line-height: 60px;
}
 
.mainimg{
    margin-top: 60px;
    margin-left: 90px;
}

.button3{
    margin-top: 2vw;
  background-color: rgb(224, 76, 101);
  border: none;
  width: 15vw;
  height: 3vw;
  font-size: 1.5vw;
  color: #FFFFFF;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  padding-top: 4px;
  margin-top: 0px;
}

.logo-div{
    display: flex;
    margin-top: 50px;
    margin-left: 190px;
    border-top: 2px solid antiquewhite;
    border-bottom: 2px solid antiquewhite;
    width: 940px;
    text-align: center;
    justify-content: '';
     
    
}

.logo-div img{
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 20px;
}


.div4 h2{
      text-align: center;
      justify-content: center;
      margin-top: 80px;
      font-size: 35px;

}

.collection{
    height: 2000px;
    
}

.container {

    display: grid;
    grid-template-columns: repeat(3 ,60px);
    margin-left: 200px;
    row-gap: 40px;
    column-gap: 280px;
     
}


.container-img1{
   border: 1px solid white;
   width: 300px;
   height: 460px;
   border-radius: 5px;
   padding: 15px 15px 15px 15px ;
   background-color: white;
}


 .container-img1 h1{
    margin-top: 0px;
    font-size: 26px;
    
 }

.action-camera{
    line-height: 25px;
}

.action-camera h2{
    font-size: 22px;
}







.container-img2{
    border: 1px solid white;
    width: 300px;
    height: 460px;
    border-radius: 5px;
    padding: 15px 15px 15px 15px ;
    background-color: white;
 }
 
 
  .container-img2 h1{
     margin-top: 0px;
     font-size: 26px;
     
  }
 
 .action-camera{
     line-height: 25px;
 }
 
 .action-camera h2{
     font-size: 22px;
 }
 





 .container-img3{
    border: 1px solid white;
    width: 300px;
    height: 460px;
    border-radius: 5px;
    padding: 15px 15px 15px 15px ;
    background-color: white;
 }
 
 
  .container-img3 h1{
     margin-top: 0px;
     font-size: 26px;
     
  }
 
 .action-camera{
     line-height: 25px;
 }
 
 .action-camera h2{
     font-size: 22px;
 }
 







.container-img4{
    border: 1px solid white;
    width: 300px;
    height: 460px;
    border-radius: 5px;
    padding: 15px 15px 15px 15px ;
    background-color: white;
 }
 
 
  .container-img4 h1{
     margin-top: 0px;
     font-size: 26px;
     
  }
 
 .action-camera{
     line-height: 25px;
 }
 
 .action-camera h2{
     font-size: 22px;
 }
 







.container-img5{
    border: 1px solid white;
    width: 300px;
    height: 460px;
    border-radius: 5px;
    padding: 15px 15px 15px 15px ;
    background-color: white;
 }
 
 
  .container-img5 h1{
     margin-top: 0px;
     font-size: 26px;
     
  }
 
 .action-camera{
     line-height: 25px;
 }
 
 .action-camera h2{
     font-size: 22px;
 }
 




 .container-img6{
    border: 1px solid white;
    width: 300px;
    height: 460px;
    border-radius: 5px;
    padding: 15px 15px 15px 15px ;
    background-color: white;
 }
 
 
  .container-img6 h1{
     margin-top: 0px;
     font-size: 26px;
     
  }
 
 .action-camera{
     line-height: 25px;
 }
 
 .action-camera h2{
     font-size: 22px;
 }
 







.container-img7{
    border: 1px solid white;
    width: 300px;
    height: 460px;
    border-radius: 5px;
    padding: 15px 15px 15px 15px ;
    background-color: white;
 }
 
 
  .container-img7 h1{
     margin-top: 0px;
     font-size: 26px;
     
  }
 
 .action-camera{
     line-height: 25px;
 }
 
 .action-camera h2{
     font-size: 22px;
 }
 








.container-img8{
    border: 1px solid white;
    width: 300px;
    height: 460px;
    border-radius: 5px;
    padding: 15px 15px 15px 15px ;
    background-color: white;
 }
 
 
  .container-img8 h1{
     margin-top: 0px;
     font-size: 26px;
     
  }
 
 .action-camera{
     line-height: 25px;
 }
 
 .action-camera h2{
     font-size: 22px;
 }
 








.container-img9{
    border: 1px solid white;
    width: 300px;
    height: 460px;
    border-radius: 5px;
    padding: 15px 15px 15px 15px ;
    background-color: white;
 }
 
 
  .container-img9 h1{
     margin-top: 0px;
     font-size: 26px;
     
  }
 
 .action-camera{
     line-height: 25px;
 }
 
 .action-camera h2{
     font-size: 22px;
 }
 











/* rating section*/

.rating{
    line-height: 25px;
}


.description p{
    font-size: 15px;
    color: rgb(0, 91, 91);
}
.rate {
    float: left;
    height: 20px;
    
    
}

.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:25px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: ' ★ ';
}
 
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
} 